.boards-list-parent-wrapper {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .boards-list-parent-wrapper {
    width: 100%;
  }
}

.boards-list-header {
  text-align: left;
  padding: 2px 15px;
}

.boards-list-header h3 {
  margin: 0px 0px 0px 10px;
  display: inline-block;
}

.boards-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.board-item {
  background-color: rgba(9, 45, 66, .08);
  color: rgba(0,0,0,1);
  border-radius: 5px;
  transition: color .1s ease-in, background .1s ease-in;
  padding: 20px;
  width: 220px;
  min-height: 100px;
  margin: 5px;
}

.board-item:hover {
  background-color: rgba(9, 45, 66, 0.15);
  color: rgba(0,0,0,1);
  cursor: pointer;
}

.board-item .title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}

.add-new-board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  border: dashed 1px;
  background-color: #FFFFFF;
  color: rgba(0,0,0,0.7);
}