.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper .home {
  margin-right: auto;
}

.nav-wrapper .title {
  color: #eeeeee;
  position: absolute;
}

.nav-wrapper .title:hover {
  color: #ffffff;
}