.state-column {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.droppable-area {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 0px;
  height: 100%;
  min-height: 150px;
}

.state-column .add-task-btn {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.state-column .add-task-btn:hover {
  background-color: #dddddd;
  color: rgba(0, 0, 0, 1);
}

.new-task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}