.modal-wrapper {
  width: 500px;
  height: 400px;
  background-color: #ebeef0;
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px;
}

@media (max-width: 560px) {
  .modal-wrapper {
    width: 95%;
  }
}

.modal-wrapper .ui.input.title>input {
  font-size: 20px;
  font-weight: 600;
  padding: 0.3em;
  border: 1px solid #ebeef0;
  background: none;
}

.modal-wrapper .ui.input.title>input:focus {
  border: 1px solid rgba(0, 80, 180, 0.5);
  background: #ffffff;
}

.modal-wrapper .ui.input {
  width: 100%;
}

.modal-wrapper .ui.input.title {
  width: 90%;
}

.modal-wrapper .modal-header {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.modal-wrapper .heading-wrapper {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
}

.modal-wrapper .ui.form .description {
  background: #f5f5f5;
  width: 93%;
}

.modal-wrapper .ui.form .description:focus {
  border: 1px solid rgba(0, 80, 180, 0.5);
  background: #ffffff;
}

.modal-wrapper .modal-header .icon {
  color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper .heading-wrapper .icon {
  color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .icon.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  margin: 0;
  cursor: pointer;
  box-shadow: none;
}
.modal-wrapper .icon.close-btn:focus {
  outline: none;
}

.modal-wrapper .icon.close-btn:hover {
  background-color: #dadde0;
}

.modal-wrapper .icon-wrapper {
  text-align: left;
  width: 6%;
}

.modal-wrapper .description-wrapper {
  text-align: right;
}

.modal-wrapper .heading-wrapper label {
  padding: 0px 7px;
}

.update-task-form .task-label {
  height: 22px;
  min-width: 30px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 0px 10px;
  color: #ffffff;
  font-weight: 600;
}

.update-task-form .label-wrapper {
  display: flex;
}

.update-task-form .ui.icon.button.add-label {
  height: 22px;
  min-width: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: #6b808c;
  background-color: rgba(9,45,66,.08);
}
.update-task-form .ui.icon.button.add-label:hover {
  background-color: rgba(0,36,57,.1);
}


.update-task-form .label-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7%;
  padding: 0px 0px 10px;
}

.update-task-form .label-component h3 {
  color: #6b808c;
  font-weight: 600;
  font-size: 12px;
  margin: 0px 0px 3px;
}

.update-task-form .label-display {
  display: flex;
}