.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-wrapper {
  width: 500px;
  height: 400px;
  background-color: #ebeef0;
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px;
}

.modal-wrapper .ui.input.title>input {
  font-size: 18px;
  font-weight: 600;
}

.modal-wrapper .ui.input {
  width: 100%;
}

.modal-wrapper .ui.modal-field {
  margin-bottom: 5px;
}